@import '../../root-colors.scss';

@font-face {
  font-family: 'eina';
  src: url('../../assests/Eina01-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'eina';
  src: url('../../assests/Eina01-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'eina';
  src: url('../../assests/Eina01-Bold.ttf') format('truetype');
}

.default-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;

  h2 {
    font-family: 'eina';
    font-size: 2.2em;
    font-weight: normal;
    margin-top: 40px;
    animation-name: moveInLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }

    80% {
      transform: translateX(1rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  h1 {
    font-family: 'eina';
    font-size: 2.8rem;
    letter-spacing: 10px;
    font-weight: bold;
    margin-top: 60px;
    animation: moveInRight 1.2s ease-out;
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }

    80% {
      transform: translateX(-1rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    width: 1200px;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;

    .link {
      text-decoration: none;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 330px;
      height: 250px;
      background: linear-gradient(to left top, #f5f7fa, #b8c6db);
      border-radius: 10px;
      box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.267);
      cursor: pointer;
      transition: 0.25s ease;

      &:hover {
        box-shadow: 0 4px 10px 0 rgba(40, 40, 194, 0.39);
      }

      h3 {
        font-size: 1.4rem;
        margin-top: 30px;
        font-family: 'eina';
        font-weight: normal;
        color: $dark;
      }

      .img-hatchback {
        background-image: url('../../assests/hatchback.png');
        background-repeat: no-repeat;
        margin-top: 60px;
        width: 250px;
        height: 150px;
      }

      .img-sedan {
        background-image: url('../../assests/sedan.png');
        background-repeat: no-repeat;
        margin-top: 60px;
        width: 215px;
        height: 150px;
      }

      .img-suv {
        background-image: url('../../assests/suv.png');
        background-repeat: no-repeat;
        margin-top: 60px;
        width: 190px;
        height: 150px;
      }
    }
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
}
