@import '../../root-colors.scss';

.registration-container {
  width: 100%;
  height: 100%;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.registration-form {
  .registration-card {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    width: 370px;
    height: 750px;
    display: flex;
    justify-content: center;

    .registration-title-exit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      margin-top: -20px;

      h2 {
        font-size: 40px;
      }

      .registration-exit {
        border: none;
        background-image: url('../../assests/x.svg');
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-position: center;
        outline: none;

        &:hover {
          border-radius: 30px;
          background-color: $gray;
          cursor: pointer;
        }
      }
    }

    .registration-input-holders {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      width: 300px;

      .registration-username,
      .registration-password,
      .registration-name,
      .registration-surname,
      .registration-email {
        padding: 20px 0px 20px 20px;
        border-radius: 30px;
        margin-top: 20px;
        outline: none;
        font-size: 20px;
        border: solid 1px $dark;

        &::placeholder {
          color: $grayish;
        }

        &:focus {
          border: solid 1px $blue;
          outline: none;
        }
      }
    }

    .registration-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      margin-top: 30px;

      .registration-btn-btn {
        margin-top: 50px;
        border: none;
        background-color: $blue;
        width: 100%;
        border-radius: 30px;
        padding: 20px 0px 20px 0px;
        font-size: 20px;
        color: $white;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
